:root {
  --color-text: #fff;
  --color-bg: #862e9c;
  --color-content-bg: rgba(255, 255, 255, 0.3);
  --color-nav-hover: rgba(255, 255, 255, 0.4);
  --color-shadow: #6b257d;
  --color-shadow: #501c5e;
  --color-highlight: rgba(255, 255, 255, 0.8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  justify-content: center;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 0.6rem;
  font-family: "Montserrat", sans-serif;
  color: var(--color-text);
  cursor: pointer;
  transition: all 0.4s;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--color-text);
  background-color: var(--color-bg);
}

header {
  margin: 0 auto;
  width: 100rem;
  padding: 2rem 0;
  border-bottom: 0.1rem solid var(--color-shadow);
  margin-bottom: 6rem;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-icon {
  width: 2.4rem;
  height: 2.4rem;
  fill: var(--color-text);
}

.logo-text {
  font-size: 1.8rem;
  font-weight: 500;
}

.navigation {
  display: flex;
  gap: 0.6rem;
}

.btn-nav {
  background-color: var(--color-content-bg);
  /* background-color: #cc5de8; */
  /* background-color: #be4bdb; */
  fill: var(--color-highlight);
  color: var(--color-highlight);
}

.btn-nav:hover {
  background-color: var(--color-nav-hover);
  /* background-color: #ae3ec9; */
  fill: var(--color-text);
  color: var(--color-text);
}

.btn-icon {
  width: 2rem;
  height: 2rem;
}

main {
  margin: 0 auto;
  width: 100rem;
  display: grid;
  grid-template-columns: auto auto;
  gap: 6rem;
}

.tasks {
  justify-self: end;
  /* background-color: rgba(255, 255, 255, 0.3); */
  padding: 2rem 0;
  width: 60rem;
}

.task-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-heading {
  font-size: 3.2rem;
  font-weight: 600px;
}

.task-current {
  /* min-width: inherit; */
  border-bottom: 0.1rem solid var(--color-text);
  border-top: 0.1rem solid var(--color-text);
  padding: 2rem 0;
  margin-top: 2rem;
  font-size: 1.8rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-name {
}

.task-attributes {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn-task {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  fill: var(--color-text);
  transition: all 0.4s;
}

.btn-task:hover {
  fill: var(--color-shadow);
}

.btn-task .btn-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.timer {
  /* width: 60rem; */
  width: fit-content;
  background-color: var(--color-content-bg);
  padding: 2rem 4rem;
  border-radius: 0.8rem;
}

.timer-type {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.btn-timer {
  background-color: transparent;
  font-weight: 600;
}

.btn-timer:hover {
  background-color: var(--color-content-bg);
}

.btn-timer--current {
  background-color: var(--color-bg);
}

.btn-timer--current:hover {
  background-color: var(--color-shadow);
}

.timer-counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 9.8rem;
  padding: 2rem;
}

.btn-start {
  margin-top: 0.6rem;
  color: var(--color-bg);
  font-size: 1.8rem;
  padding: 1.2rem 3.6rem;
  font-weight: 600;
}

.btn-start:hover {
  color: var(--color-text);
  background-color: var(--color-bg);
}
